name: Preparant per producci칩
run-name: ${{ github.actor }} est pujant l'aplicaci칩 a PROD  游
on: [push]
jobs:
  Pujar-a-produccio-amb-SCP:
    runs-on: ubuntu-latest
    steps:
      - name: Obtenint el codi del respositori
        uses: actions/checkout@v4

      - name: scp a produccio
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/prod_key.pem
          chmod 600 ~/prod_key.pem
          cd ${{ github.workspace }}

          # Asegurar que el directorio web exista y tenga archivos
          mkdir -p ./web
          touch ./web/placeholder.txt  # Crear un archivo temporal si est치 vac칤o

          # Verificar que la carpeta no est치 vac칤a
          ls -lah ./web

          # Copiar los archivos
          scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "~/prod_key.pem" ./web/* \
          ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }}:/home/a20edurenlop/web/a20edurenlop.daw.inspedralbes.cat/public_html/ghactions-Eduu2004

          # Ajustar permisos en el servidor remoto
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "~/prod_key.pem" \
          ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }} "chmod -R 755 /home/a20edurenlop/web/a20edurenlop.daw.inspedralbes.cat/public_html/ghactions-Eduu2004"
      - run: echo "游꼞 This job's status is ${{ job.status }}."
